.modal-wrapper {
  display: none;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.64);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.modal {
  background-color: transparent;
  position: absolute;
  top: 0;
  padding: 2rem 1rem 2rem 2rem;
  border-radius: var(--radius);
}

.modal-close {
  position: absolute;
  right: 30px;
  top: 30px;
  font-size: 15px;
  cursor: pointer;
}

.modal-content {
  height: 100%;
  overflow-y: auto;
}
