.app-logo {
  height: 35px;
}

.header-control-wrapper button {
  margin: 5px;
}

header {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #026aa7;
}

header div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: auto;
}

header span {
  font-size: 25px;
  color: white;
  margin-right: 10px;
  margin-left: 10px;
}

.header-app-icon {
  height: 35px;
}
