
  .card-wrapper {
    background-color: #fff;
    color: #172b4d;
    padding: 1rem;
    font-size: var(--default-txt);
    box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
    border-radius: var(--radius);
    cursor: pointer;
  }
  
  .card-name {
    word-break: break-word;
  }
